<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Welcome to AutoGrade Home Page</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/student_assignment.css}" />

</head>

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">AutoGrader</a>
    </nav>

    <main role="main" class="container" th:switch="${roles}">

        <div class="starter-template reviewRole" >
            <div class="container-fluid review-role" th:case="*">
                <h2 class="col-xs-12 assignemtSub--heading pb-4 mt-2">Review Role</h2>
                <table class="mb-5 table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Coordinator</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="role : ${roles}">
                            <td th:text="${role.id}"></td>
                            <td th:text="${role.name}"></td>
                            <td th:text="${role.description}"></td>

                            <td><a th:href="@{/role/update/{id}(id=${role.id})}">Update</a>|<a class="deleteData">Delete</a></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form-group mt-5 ml-1" align="right">
                	<a href="./" role="button" aria-label="Cancel">
					<button class="btn btn-cancel btn-secondary"  align="right" type="button">
									Cancel
				    </button>
				    </a>
				</div>
            </div>
        </div>
        
        <!-- The Modal -->
<div id="removePopup"class="modal" style="display:none">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close closePopup">&times;</span>
    <h4 class="text-center">Are you sure want to Delete this?</h4>
    <div class="form-group mt-5 ml-1" align="right">
    			<a   role="button">
               <button class="btn save mr-4 btn-primary closePopup" type="button">
									Yes
								</button>
				</a>
								<button class="btn btn-cancel mr-4 clear btn-secondary closePopup" type="button">
									No
								</button>
						</div>
  </div>

</div>

    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
    <script>
    var modal = document.getElementById("removePopup");
       const reviewCourse = {
	
		removePopup() {
		var btn = document.getElementsByClassName("deleteData");
		 modal.style.display = "block";
			},
			
		closePopup() {
				modal.style.display = "none";
			},
			init() {
				$(document).on('click', '.deleteData', this.removePopup);
				$(document).on('click', '.closePopup', this.closePopup);
				},
				}
				reviewCourse.init();
    </script>


    <script src="scripts/studentSubmission.js"></script>


</body>

</html>
